body {
	margin: 0px;
	padding: 0px;
	color: #625e5e;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #03B4C8;
	background-position: top center;
	background-repeat: no-repeat;
}

a, a:link, a:visited { color: #333; text-decoration: underline; }
a:hover { color: #000; text-decoration: none; }

p { margin: 0px; padding: 0; }
img { border: none; }

ul { margin: 0; padding: 0; }
ul li { margin: 0; padding: 0; }

h1 { font-size: 34px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; color: #9c6421; }
h2 { font-size: 24px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; color: #000; }
h3 { font-size: 21px; font-weight: normal; margin: 0 0 15px 0; padding: 0; color: #000;}
h4 { font-size: 18px; margin: 0 0 20px 0; padding: 0 0 10px 0;  }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; }


#wrapper {
	width: 900px;
	padding: 50px 20px 0;
	margin: 0 auto;
}

#header {
	width: 860px;
	height: 115px;
	padding: 0 30px;
	background: url(../images/header.png) no-repeat;
}

#site_title {
	float: left;
	width: 350px;
	margin: 35px 0 0 0;
	text-align: center;
}

#site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 36px;
	color: #252b2d;
	font-weight: bold;
	text-decoration: none;
}

#site_title a span {
	display: block;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	margin-top: 5px;
	letter-spacing: 5px;
}
/* menu */

#menu {
	float: right;
	width: 450px;
	height: 90px;
	padding: 12px 20px;
	background: url(../images/menu.jpg) no-repeat;
}

#menu ul {
	float: right;
	margin: 8px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

#menu ul li {
	float: left;
	height: 82px;
	padding: 0 10px;
	margin: 0;
	display: inline-block;
	background: url(../images/menu_divider.png) no-repeat bottom right;
}

#menu ul .last { background: none; }

#menu ul li a {
	float: left;
	display: block;
	height: 42px;
	font-size: 14px;
	padding: 40px 10px 0;
	color: #fff;	
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	outline: none;
	
}

#menu ul li a:hover, #menu ul .current {
	background: url(../images/menu_hover.png) no-repeat center bottom;
}

/* end of menu */

/* main */

#main {
	clear: both;
	width: 840px;
	padding: 40px 30px;
	background: #fff url(../images/main.png) no-repeat top;
}

#content {
	width: 840px;
}

#content p {
	margin-bottom: 20px;
}


/* end of main */

/* button */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:13px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
   
 /* end of button*/

/* table */

.table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 20px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
.table th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
.table td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
.table tbody tr:hover td
{
	background: #d0dafd;
}

/* end of table */
 


/* form */
.fieldlabel{
   text-align:right;
   vertical-align:top;
   font-weight:500;
 }

.compulsory{ 
	color:red;
}

.error{ 
	color:red;
	font-size:16px;
}


.half-compulsory{ 
	color:orange;
}
/*end of form */

/* footer */

#footer  {
	width: 840px;
	height: 136px;
	padding: 30px;
	text-align: center;
	color: #161616;
/*	text-shadow: 0px 1px 1px #FFFFFF; */
	background: url(../images/footer.png) no-repeat;
}

/* end of footer */